@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
#root {
    .app-container {
        height: 100%;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 30px;
    }
    .tasks-view {
        .today {
            position: relative;
            color: purple;
            border-bottom: 2px solid purple;
            h3 {
                font-weight: 500;
            }
            
            h1 {
                margin-bottom: 10px;
            }
        }
        .task {
            position: relative;
            padding: 10px 0;
            border-bottom: 1px solid rgba(192, 93, 192, 0.432);
            h1 {
                font-size: 25px;
                margin-bottom: 2px;
            }
            h3 {
                font-size: 18px;
            }
            button {
                padding: 5px;
                border-radius: 0px;
                border: none;
                position: absolute;
                right: 0;
                padding: 6px;
                text-transform: uppercase;
                font-weight: 500;
                cursor: pointer;
                transition: transform .1s;
                &:active {
                    transform: scale(0.95);
                }
            }
            .button-complete {
                background-color: rgb(198, 255, 113);
                top: 5px;
            }
            .button-delete {
                background-color: rgb(255, 125, 125);
                bottom: 5px;
            }
        }
        .add-task-button {
            text-transform: uppercase;
            padding: 7px;
            border: 1px solid purple;
            background-color: white;
            cursor: pointer;
            float: right;
            margin-top: 10px;
            font-size: 15px;
            font-weight: 500;
            color: purple;
            transition: all .1s;
            &:active {
                transform: scale(0.95);
                background-color: purple;
                color: white;
            }
        }
    }
    
    .add-task-view {
        position: relative;
        padding-top: 40px;
        h1 {
            margin-top: -25px;
            margin-bottom: 10px;
            border-bottom: 2px solid purple;
            color: purple;
        }
        .input-row {
            padding: 5px 0;
            height: 50px;
            position: relative;
            label {
                display: inline-block;
                padding-right: 5px;
                font-size: 120%;
                min-width: 100px;
            }
            input, select {
                height: 30px;
                display: inline-block;
                width: calc(100% - 100px);
                position: absolute;
                border: 1px solid purple;
                font-size: 110%;
                padding: 2px;
                outline: none;
                transition: all .1s;
                &:active, &:focus {
                    background-color: rgba(128, 0, 128, 0.171);
                }
    
            }
        }
        button {
            text-transform: uppercase;
            padding: 7px;
            border: 1px solid purple;
            background-color: white;
            cursor: pointer;
            float: right;
            margin-left: 10px;
            margin-top: 10px;
            font-size: 15px;
            font-weight: 500;
            color: purple;
            transition: all .1s;
            &:active {
                transform: scale(0.95);
                background-color: purple;
                color: white;
            }
        }
    
    }
    .nav-button {
        color: purple;
        position: absolute;
        border: 2px solid purple;
        width: 30px;
        height: 30px;
        right: 0;
        top: 5px;
        transition: all .1s;
        cursor: pointer;
        span {
            position: absolute;
            font-size: 30px;
            font-weight: 600;
            top: -5px;
            left: 4px;
        }
        &:hover, &:focus {
            background-color: purple;
            color: white;
        }
    }
}
